# Application
PORT=3000
NODE_ENV=development
STAGE=development

# Internal Service Communication
INTERNAL_REQUEST_TOKEN=your-secure-internal-token

# Service Configuration - Amplify Manager
AMPLIFY_MANAGER_HOST=localhost
AMPLIFY_MANAGER_PORT=3001

# Service Configuration - Amplify Wallet
AMPLIFY_WALLET_HOST=localhost
AMPLIFY_WALLET_PORT=3000
# For staging/production environments
# AMPLIFY_WALLET_HOST=https://api.useamplify.ai/
# http://amplify-wallet.internal.staging.com

# Stripe
STRIPE_API_KEY=your-stripe-api-key
MONGODB_DB_NAME=amplify
MONGODB_URI=

STARTER_MONTHLY_PRICE_ID=price_1SaxZDKiCBcQA15ofiejlXmX
STARTER_QUARTERLY_PRICE_ID=price_1SaxYaKiCBcQA15og6j7pZ5Q
STARTER_YEARLY_PRICE_ID=price_1SaxXAKiCBcQA15oOLNyxmTQ

GROW_MONTHLY_PRICE_ID=price_1SaxkAKiCBcQA15onkgQcr7A
GROW_QUARTERLY_PRICE_ID=price_1SaxkAKiCBcQA15oLtUhE9ji
GROW_YEARLY_PRICE_ID=price_1SaxkAKiCBcQA15oL37PSgJo

SCALE_MONTHLY_PRICE_ID=price_1SaxnmKiCBcQA15oqHan2RYe
SCALE_QUARTERLY_PRICE_ID=price_1SaxnmKiCBcQA15obdHqhO8I
SCALE_YEARLY_PRICE_ID=price_1SaxnmKiCBcQA15ofRN01ZjJ

STARTER_MONTHLY_TOKENS=500
STARTER_QUARTERLY_TOKENS=1500
STARTER_YEARLY_TOKENS=6000
STARTER_TRIAL_TOKENS=0

GROW_MONTHLY_TOKENS=1500
GROW_QUARTERLY_TOKENS=4500
GROW_YEARLY_TOKENS=18000
GROW_TRIAL_TOKENS=200

SCALE_MONTHLY_TOKENS=3000
SCALE_QUARTERLY_TOKENS=9000
SCALE_YEARLY_TOKENS=36000
SCALE_TRIAL_TOKENS=200

TOP_UP_PACK_1000_PRICE_ID=price_1TD8jZKiCBcQA15oKE5M5gzz
TOP_UP_PACK_2000_PRICE_ID=price_1TD8m7KiCBcQA15oNeARU2Ef
TOP_UP_PACK_4000_PRICE_ID=price_1TD8kxKiCBcQA15ogF9pVUmo